.wrapper{
    width:90%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding:30px;
}
.featured
{
    display:flex;
    padding:20px;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    

}

@media (max-width: 800px) {
    .featured{
        flex-direction: column !important;
        
    }
}

