.wrapper{
    width:90%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.featured
{
    display:flex;
    padding:20px;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    

}

@media (max-width: 800px) {
    .featured{
        flex-direction: column !important;
        margin: 0px !important;
        padding: 0px !important;
        
    }

    .wrapper{
        margin-bottom:20px;
    }

    .wrapper p{
        width:100% !important;
    }

    .h1{
        font-size:22px
    }

    .hr{
        width: 100% !important;
    }

    .text{
        font-size:13px;
    }
}

