.parent {
    fill:white;
    height: 30%;
    width: 30%;
    position: absolute;
    top: 20%;
    left: 35%;
    /* margin: -25px 0 0 -25px; */
}



@media (max-width: 1055px) {
    .parent {
        height: 70%;
        width: 70%;
        position: absolute;
        top: 30%;
        left: 17%;
        /* margin: -25px 0 0 -25px; */
    }
}

.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 212px 254px; /* Pivot around the bottom-left palm */
    display: block;
}

@keyframes wave-animation {
    50% {
        transform: rotate(60.0deg)
    }
    /* The following five values can be played with to make the waving more or less extreme */
}

.pizza {
    animation-name: pizzaAnimation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-delay: -1.75s;
    transform-origin: 325.4px calc(159.8px - 85px); 
    display: block;
}

@keyframes pizzaAnimation {
    0% {
        transform: rotate(60deg);
    }
    30% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(-300deg);
    }
}

#layer3 {
    
    animation-name: pizza_translate_animation; 
    animation-duration: 2.5s; 
    animation-iteration-count: infinite;
    transform-origin: 325.4px calc(159.8px - 105px);
    display: block;
}

@keyframes pizza_translate_animation {
    50% {
        transform: translate(40px, 230px)
    }
}

.shape {
    float: left;
    shape-outside: ellipse(closest-side farthest-side at 30%);
    margin: 20px;
    width: 100px;
    height: 140px;
    border: solid;
}

.st0 {
  fill: none;
}