.wrapper{
    margin-top:20px;
    display: flex;
    width:100vw !important;
    justify-content: center;
    height:50vh !important;
}

.leftContainer{
    width: 100%;
    background-size: cover;
    height:100%;
    background-image:linear-gradient(to bottom, rgba(31, 31, 31, 0.10), rgba(0, 0, 0, 1.0)),url("../../public/assets/pizza.png");
    padding:30px;
    text-align: center;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right:auto; */
}
.rightContainer{
    width: 50%;
    background-size: cover;
    height:100%;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.10)),url("../../public/assets/pizza.png");
    padding:30px;
    text-align: center;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:auto;
}

@media (max-width: 800px) {

    .wrapper{
        flex-direction: column;
        width:100% !important;
    }
    .leftContainer{
        width:100% !important;
        
    }

    .rightContainer{
        display: none;
        width:100% !important;
    }

}


/* wood-2045380_1920 3 */ 