.container{
    /* margin-top:20px; */
    display: flex;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
}


.buttonYellow{
    border:2px solid #F2C94C;
    width:max-content;
    min-width:250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: all 0.3 ease-in-out;
  }



@media (max-width: 800px) {
    .container{
        display: flex;
        flex-direction:column !important;
    }

    .imgContainer{
        width:100% !important;
        display: block !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }
    .textContainer{
        width:100% !important;
        text-align:center !important;
        padding: 0px !important;
        padding-top:30px;
    }

    .textContainer p{
        font-size:18px !important;
    }
    .buttonYellow{
        margin-left: auto !important;
        margin-right: auto !important;
    }
}