.wrapper{
    display: flex;
    width:30vw;
    /* width:40vw; */
    margin-bottom:50px;
    /* flex:0.3; */
    /* max-width:400px; */
}

.wrapper h2{
    margin-top:0px !important;
}
/* 
.image{
     width:0px !important;
}
 */

.info{
    padding:20px;
    padding-top:0px;
    width:100%;
}

@media (max-width: 800px) {
    .wrapper{
        width:80vw !important;
    }
    
}