.wrapper h1 {
    text-align: center;

}
.wrapper {
    padding:20px;
    display:block;
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.menuFlex{
    margin: 0 auto;
    max-width:100%;
    padding:30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 800px) {
    .menuFlex{
        width: 100vw!important;
        display: flex;
        flex-direction:column !important;
        padding:0px !important;
    }

    .wrapper{
        width:100% !important;
        padding: 0px !important;
        margin-right:auto !important;
        margin-left:auto;
    }
}