.testimonialWrapper{
    width:90%;
    margin:20px;
    padding:10px;
    /* text-align:center; */
    height:400px;
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 800px) {
    .testimonialWrapper{
        width:90% !important;
        margin-left:auto !important;
        margin-right: auto !important;
        display:block !important;
    }

}