
.upperFooter {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    height:300px;
    background-color: #000;
    padding:30px;
}


.logoDiv{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.bottom{

    position: fixed;
    bottom:0;
    width: 100vw !important;;
    background-color:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    height:40px;
    padding:10px;
}

@media (max-width: 1055px) {
    .upperFooter{
        width:100% !important;
        flex-direction: column !important;
        margin-bottom: 50px;
    }

    .info{
        margin-left: auto!important;
        width:90%;
        text-align: center;
        margin-right: auto!important;
    }
    .phoneInfo{
        margin-left: auto !important;
        /* width:100%; */
        justify-content: space-between!important;
    }
    .bottom{
        padding-left:15px !important;
        padding-right:15px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}


