.upperFooter {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    height:150px;
    background-color: #000;
    padding:30px;
}

.logoDiv{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.bottom{
    /* position: fixed; */
    bottom:0;
    width: 100vw !important;;
    background-color:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    height:40px;
    padding:10px;
    text-align:center !important;
}

@media (max-width: 1055px) {

    .logoHeading {
        display:none;
    }

    .upperFooter{
        width:100% !important;
        flex-direction: row !important;
        margin-bottom: 0px;
        max-height:fit-content;
    }

    /* .logoDiv{
        width:50% !important;
    } */

    .info{
        /* margin-right: auto !important; */
        /* margin-left: auto!important; */
        width:100%;
        text-align: center;
    }
    .phoneInfo{
        margin-left: auto !important;
        margin-right: auto !important;
        /* width:100%; */
        justify-content: space-between!important;
    }
    .bottom{
        font-size: 11px;
        /* margin-top: 200px !important; */
        padding-left:15px !important;
        padding-right:15px !important;
        display:flex !important;
        justify-content: center;
        align-items: center;
    }

    .contact{
        font-size:13px
    }

    .logoDiv{
        margin-left: 40px !important;
    }

    .info{
        margin-left: 40px !important;
    }
}


