.footer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* background-image:linear-gradient(to bottom, rgba(31, 31, 31, 0.10), rgba(0, 0, 0, 1.0)),url("../../public/assets/wood.png"); */
    background-size: cover;
    height:600px;
}