.mainwrapper{
    width:90%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}

.wrapper{
    margin-top:25px;
    display: flex;
    width:100% !important;
    justify-content: center;
    /* height:90vh !important; */
    align-items: center;
    padding:15px;
    height:auto;
}
.leftContainer{
    width: 50%;
    height:100%;
    /* padding:30px; */
    text-align: left;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:auto;
    padding-right:30px;
}
.rightContainer{
    text-align: center;
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:30px;
    /* 
    height:100%;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.10)),url("../../public/assets/dough.png");
    padding:30px;
    text-align: center;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:auto; */
}


@media (max-width: 1100px) {

    .wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .leftContainer{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin: 10px;
        padding-right:0px;
    }

    .rightContainer{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin: 10px;
    }



}