.mainwrapper{
    width:90%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    padding-top:0px !important;
    margin-top: 0px !important;

}

.wrapper{
    margin-top:25px;
    display: flex;
    width:100% !important;
    justify-content: center;
    /* height:90vh !important; */
    align-items: center;
    padding:15px;
    height:auto;
}
.leftContainer{
    width: 50%;
    height:100%;
    /* padding:30px; */
    padding-top:0px !important;
    margin-top: 0px !important;
    text-align: left;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:auto;
    padding-right:30px;
}
.rightContainer{
    text-align: center;
    width: 50%;
    padding-top:0px !important;
    margin-top: 0px !important;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:30px;
}


@media (max-width: 1100px) {

    .wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px !important;
    }

    .leftContainer{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin: 10px;
        padding-right:0px;
    }

    .leftContainer iframe{
        height: 300px;
    }

    .rightContainer{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin: 10px;
    }

    .h1{
        font-size:22px
    }

    .hr{
        width: 80% !important;
    }



}