.container{
    width: 100vw;
    background-size: cover;
    height:170px;
    /* background-image:linear-gradient(to bottom, rgba(31, 31, 31, 0.10), rgba(0, 0, 0, 1.0)),url("../public/assets/wood.png"); */
    padding:30px;
    text-align: center;
    background-color: #000;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:auto;
    position: fixed;
    z-index: 10;

}

.mainContent{
padding-top:180px;
}
