@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ruda', sans-serif;
  background-color: #000;
  color:#fff;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Quattrocento', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.buttonYellow{
  border:2px solid #F2C94C;
  width:max-content;
  min-width:250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
/* 
.MuiTabs-indicator{
  color: 'orange !important';
  } */

  .woodBackground{
    /* background-size: repeat; */
    /* width:100vw; */
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../public/assets/background.png") !important;
    background-repeat: repeat;
    /* background-repeat: repeat-y; */
  }