@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ruda', sans-serif;
  background-color: #000;
  color:#fff;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Quattrocento', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.buttonYellow{
  border:2px solid #F2C94C;
  color:#F2C94C;
  width:max-content;
  min-width:250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* background-color:#fff; */
  text-align: center;
  display: flex !important;
  border: 2px solid #F2C94C !important;
  text-decoration: none;
  align-items: center ;
  justify-content: center;
  display: inline-block;
  outline: none;
  color:#F2C94C !important;
  background: linear-gradient(to left, #000 50%, #F2C94C 50%) right!important;
  background-size: 200%!important;
  transition: .3s ease-out!important;
  cursor:pointer;
}

.buttonYellow:hover{
  background-color: #F2C94C;
  color:#000 !important;
  background-position: left!important;
    border-color: #F2C94C !important;
}
/* 
.MuiTabs-indicator{
  color: 'orange !important';
  } */

/* .woodBackground{
  background-size: repeat;
  width:100vw;
  background-Image style={{borderRadius:20}}:linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../public/assets/background.png") !important;
  background-repeat: repeat;
  background-repeat: repeat-y;
} */


@media (max-width: 1055px) {
  .buttonYellow{
    border:2px solid #F2C94C;
    color:#F2C94C;
    width:max-content;
    min-width:175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-color:#fff; */
    text-align: center;
    display: flex !important;
    border: 2px solid #F2C94C !important;
    text-decoration: none;
    align-items: center ;
    justify-content: center;
    display: inline-block;
    outline: none;
    color:#F2C94C !important;
    background: linear-gradient(to left, #000 50%, #F2C94C 50%) right!important;
    background-size: 200%!important;
    transition: .3s ease-out!important;
    cursor:pointer;
  }
}
