.container{
    width: 100vw;
    background-size: cover;
    height:180px;
    /* background-Image style={{borderRadius:20}}:linear-gradient(to bottom, rgba(31, 31, 31, 0.10), rgba(0, 0, 0, 1.0)),url("../public/assets/wood.png"); */
    padding:30px;
    text-align: center;
    background-color: #000;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:auto;
    position: fixed;
    z-index: 10;

}

.wrapper2 {
    padding:20px;
    display:block;
    width:90%;
    margin-left: auto;
    margin-right: auto;
}


.mainContent{
    padding-top:200px;
}


@media (max-width: 700px) {
    .wrapper2{
        max-width:95% !important;
        padding:20px;
        display:block;
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }

    .container{
        height:120px;

    }

    .mainContent{
        padding-top:140px;
        }
    
}

