.wrapper{
    width:90%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding:30px;
}
.featured
{
    display:flex;
    padding:20px;
    width:100%;
    justify-content: space-evenly;
    align-items: center;

}

@media (max-width: 1055px) {
    .featured{
        flex-direction: column !important;
        
    }
    .wrapper p{
        width:100% !important;
        padding:0px !important;
    }

    .wrapper{
        margin-bottom:50px;
    }

    .h1{
        font-size:22px
    }

    .p{
        font-size:13px
    }
}

