name: Run ESLint on Pull Requests

on:
  - push

jobs:
   eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Installing dependencies
        run: npm install
      
      - name: Installing CI dependencies
        run: npm ci

      - name: ESLint Fixing 
        run: npx eslint . --ext .js,.jsx
      
      - name: ESLint Fixing 
        run: npx eslint . --ext .js,.jsx